.lg-heading {
  font-size: 4rem;
}

.sm-heading {
  font-size: 1.2rem;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 0 0 0.4rem 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-btn.close .btn-line {
  width: 27px;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: translateY(0.6rem) rotate(45deg);
          transform: translateY(0.6rem) rotate(45deg);
}

.menu-btn.close .btn-line:nth-child(2) {
  display: none;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.menu-branding.show, .menu-nav.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #030e16;
  list-style: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-branding {
  background: #061c2a;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-branding .portrait {
  width: 200px;
  height: 200px;
  background: url(../img/man.jpg) center center/cover;
  border-radius: 50%;
  border: 3px solid #fad02c;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-branding.show .portrait {
  opacity: 1;
}

.menu .nav-item {
  text-transform: uppercase;
  padding: 1rem 0;
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  letter-spacing: 0.1rem;
}

.menu .nav-item.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu .nav-item.current > a {
  color: #fad02c;
}

.menu .nav-item > a:hover {
  color: #fad02c;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  position: relative;
}

body#bg-image {
  background: url(../img/background.jpg) no-repeat center center/cover;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(6, 29, 44, 0.9);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1.5px;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 1rem;
  padding: 0.2rem 0;
  background: rgba(7, 35, 53, 0.5);
  display: inline-block;
}

.text-secondary {
  color: #fad02c;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0 2rem;
}

main .icons {
  margin-top: 0.5rem;
}

main .icons a {
  padding: 0 0.5rem;
}

main .icons a:hover {
  color: #fad02c;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

main#home {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .menu-branding .portrait {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    font-size: 3.3rem;
  }
  .menu-branding, .menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu-branding.show, .menu-nav.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-nav {
    height: 60%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menu-branding {
    height: 40%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
