// Recommend primary color for light theme
// $primary-color: #f5f5f5;

$primary-color: #061d2c;
$secondary-color: #fad02c;

$main-font: "Roboto", sans-serif;

$show-home-image: true;
$home-image: url(../img/background.jpg) no-repeat center center/cover;
$background-opacity: 0.9;

@mixin transition($time: 0.4s) {
  transition: all $time ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-image {
      background: $home-image;
    }
  }
}

.lg-heading {
  font-size: 4rem;
}

.sm-heading {
  font-size: 1.2rem;
}

// Light/Dark Mode
@function main-text-color($color) {
  @if (lightness($color) > 40) {
    @return #05445e;
  } @else {
    @return #fff;
  }
}

@function secondary-text-color($color) {
  @if (lightness($color) > 40) {
    @return #43a6e7;
  } @else {
    @return #fad02c;
  }
}

// Media Queries mixin

@mixin mediaSm {
  @media screen and (max-width: 600px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
