// Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include transition(0.5s);

  .btn-line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 0 0 0.4rem 0;
    @include transition(0.5s);
  }

  // Rotate into close position
  &.close {
    transform: rotate(180deg);
    @include transition;

    .btn-line {
      width: 27px;

      &:nth-child(1) {
        transform: translateY(0.6rem) rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;

    &.show {
      transform: translateY(0);
    }
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translateY(-100%);
    @include transition;
  }

  &-branding {
    background: darken($primary-color, 0.5);
    transform: translateY(100%);
    @include transition;

    .portrait {
      width: 200px;
      height: 200px;
      background: url(../img/man.jpg) center center/cover;
      border-radius: 50%;
      border: 3px solid $secondary-color;
      opacity: 0;
      transition: opacity 0.4s ease-in;
      transition-delay: 0.3s;
    }

    &.show .portrait {
      opacity: 1;
    }
  }

  .nav-item {
    text-transform: uppercase;
    padding: 1rem 0;
    transform: translateX(500%);
    @include transition;
    letter-spacing: 0.1rem;

    &.show {
      transform: translateX(0);
    }

    &.current > a {
      color: $secondary-color;
    }

    & > a:hover {
      color: $secondary-color;
      @include transition;
    }
  }
}

// Delay nav items
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
