// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  .menu {
    &-branding {
      .portrait {
        width: 150px;
        height: 150px;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      font-size: 3.3rem;
    }
  }

  .menu {
    &-branding,
    &-nav {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
        transform: translateX(0);
      }
    }
  }

  .menu-nav {
    height: 60%;
    transform: translateX(100%);
  }

  .menu-branding {
    height: 40%;
    transform: translateX(-100%);
  }
}
