@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: $main-font;
  line-height: 1.5;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba($primary-color, $background-opacity);
  }
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1.5px;

  &.sm-heading {
    margin-bottom: 1rem;
    padding: 0.2rem 0;
    background: rgba(lighten($primary-color, 2), 0.5);
    display: inline-block;
  }
}

.text-secondary {
  color: $secondary-color;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 2rem;

  .icons {
    margin-top: 0.5rem;

    a {
      padding: 0 0.5rem;

      &:hover {
        color: $secondary-color;
        @include transition(0.7s);
      }
    }
  }

  &#home {
    overflow: hidden;
  }
}
